<?xml version="1.0"?>

<model>
  <name>dxsim-one</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Gianluca Corsini</name>
    <email>gianluca.corsini@laas.fr</email>
  </author>

  <description>
    A one DOF arm whose joint is actuated by a Dynamixel motor.
    It requires dxsim-gazebo plugin.
  </description>
</model>
