<?xml version="1.0"?>

<model>
  <name>dxsim-two</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Gianluca Corsini</name>
    <email>gianluca.corsini@laas.fr</email>
  </author>

  <description>
    A simple manipulator arm composed of two links and two revolute joints
    which are actuated by Dynamixel motors.
  </description>
</model>
